<script src="dist/script.min.js"></script>

<script nomodule src="src/es5.js"></script>
<script type="module" src="src/es6.js"></script>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }
    .section {
        height: 100%;
        width: 100rem;
        display: inline-block;
        position: relative;
        font-size: 10rem;
    }
</style>
<div id="wrapper"
><div class="section" style="background-color: red;"></div
><div class="section" style="background-color: blue;"></div
><div class="section" style="background-color: green;"></div
><div class="section" style="background-color: yellow;"></div
></div>
